.wrapper {
  padding: 90px 30px 30px;
  width: 100%;
  max-width: 1600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 90px 2% 2%;
  }
}
