.navigation {
  position: fixed;
  width: 100%;
  padding: 23px 30px;
  z-index: 2;
  background-color: var(--primary-color);
  box-shadow: var(--shadow);
  color: var(--primary-color);
}
.list {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links {
  font-size: 1.8rem;
  font-weight: 800;
  padding: 0 8px;
}
.links:hover {
  color: var(--accents-color);
  font-weight: 800;
}
.cart {
  margin: 0 8px;
  width: 2.2rem;
  height: 2.2rem;
}
@media only screen and (max-width: 600px) {
  .list {
    justify-content: space-evenly;
  }
}
