* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #dadde2;
  --accents-color: #43655a;
  --font-color: #3b3b3b;
  --error-color: #bb2929;
  --shadow: 0 0.5rem 1rem #30303023;

  --primary-font: "Open Sans", sans-serif;
  --second-font: "Francois One", sans-serif;
  --primary-font-size: 16px;

  --border-radius: 26px;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: var(--primary-font);
  color: var(--font-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

button {
  font-family: var(--primary-font);
}
